.nav-bar {
    background: #B8B4A1;
    width: 100%;
    height: 49px;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.icons {
    width: 40px;
    height: 40px;
    padding: 4px;
}

.aboutLink {
    font-family: 'Calibri';
    color: white;
    margin-left: 20px;
    /* Add margin to separate the "About" link from the "Home" icon */
}

.active {
    color: black;
}

.link {
    text-decoration: none;
}

.icons:hover,
.active:hover {
    background: white;
    color: black;
}